<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <div class="front-card mdl-card mdl-shadow--2dp">

      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text"><%= @card.domain %></h1>
      </div>

      <div class="mdl-card__supporting-text">
        <%= @card.description %>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <i class="material-icons">build</i>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-button mdl-js-button mdl-color--accent mdl-button--raised mdl-js-ripple-effect">
          <s>Contact!</s>
        </a>
      </div>

    </div>

  </div>

  <div class="mdl-cell mdl-cell--4-col">
  </div>

</div>
