/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#background-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0,0,0,.2);

}

.front-card {
  min-height: 0 !important;

  .mdl-card__title {
    align-items: flex-start;

    h1 {
      margin-top: 0;
    }
  }

  .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 100%;

    .material-icons {
      padding-right: 10px;
    }
  }

}
