<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h1 class="mdl-card__title-text">A Card</h1>
  </div>
  <div class="mdl-card__supporting-text">
    <p>Find me in app/views/cien_quiosco/page/index.html.erb</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout-spacer"></div>
      <i class="material-icons">visibility</i>
    </div>
  </div>
</div>
