<!DOCTYPE html>
<html>
<head>
  <title>Cien quiosco</title>
  <%= stylesheet_link_tag    "cien_quiosco/application", media: "all" %>
  <%= javascript_include_tag "cien_quiosco/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
